@import './reset.css';
@import './swiper.css';
@import './slick.css';

.inner {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .inner {
    width: 90%;
  }
}

section {
  padding: 50px 0;
}

header {
  display: flex;
}

header .logo {
  display: flex;
  justify-content: center;
  flex: 0.7;
}

header .logo img {
  width: 60%;
}

header .header_contents_container {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  background-color: #000000;
  color: #fff;
}

.header_contents_container .call {
  width: 25%;
  display: flex;
  align-items: center;
}

.header_contents_container .call .call_text h3 {
  color: #76908E;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 2%;
}

.header_contents_container .call .call_text a {
  color: #fff;
}

.header_contents_container .call .call_img {
  margin-right: 3%;
}

.header_contents_container .mail {
  width: 25%;
  display: flex;
  align-items: center;
}

.header_contents_container .mail .mail_img {
  margin-right: 3%;
}

.header_contents_container .mail .mail_text h3 {
  color: #76908E;
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 2%;
}

.header_contents_container .mail .mail_text a {
  color: #fff;
}

.header_contents_container .user {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background: #e31c25;
  border-radius: 50%;
}

.header_contents_container .user .user_icon {
  width: 45px;
  height: 45px;
  display: block;
  line-height: 10px;
  background: #e31c25;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 9;
  transition: all 0.3s ease-out;
}

.user_icon::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  top: -20%;
  left: -20%;
  border-radius: 50%;
  z-index: -1;
}

.animation_user:before {
  border: 2px dotted #e31c25;
  animation: rotate_border 6s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_border {
  100% {
    transform: rotate(360deg);
  }
}

.header_contents_container .user img {
  width: 25px;
  display: block;
  margin: 0 auto;
}

.header_contents_container .menu {
  display: flex;
  align-items: center;
  position: relative;
}

.header_contents_container .menu img {
  width: 57px;
}


.header_contents_container .menu .menu_container {
  padding: 31px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 100%;
  background-color: #fff;
  z-index: 10;
  box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.384);
  transition: 0.3s;
}

.active {
  transform: scaleY(0);
  transition: 0.3s;
}

.header_contents_container .menu .menu_container li {
  width: 100px;
  height: 50px;
  padding-left: 2%;
  line-height: 50px;
}

.header_contents_container .menu .menu_container li .red {
  color: #e31c25;
}

.header_contents_container .menu .menu_container li a {
  color: #333;
}

.header_contents_container .menu .menu_container>li>a:hover {
  color: #e31c25;
  transition: all 0.3s;
}

.header_contents_container .menu .menu_container .close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 100%;
  background-color: #e31c25;
  margin-right: 3%;
  cursor: pointer;
}

.header_contents_container .menu .menu_container .close_btn i {
  display: block;
}

.header_contents_container .menu .menu_container .pages_list {
  position: relative;
}

.header_contents_container .menu .sub_menu {
  position: absolute;
  top: 80px;
  left: 10%;
  width: 200px;
  background-color: #fff;
  box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.384);
  display: none;
}

.header_contents_container .menu .sub_menu li {
  width: 150px;
  line-height: 40px;
}

.header_contents_container .menu .sub_menu>li>a {
  font-size: 14px;
  color: #333;
  padding-left: 2%;
}

.header_contents_container .menu .sub_menu>li>a:hover {
  color: #e31c25;
  transition: all 0.3s;
}

@media (max-width: 1200px) {
  header .logo {
    flex: 1.5;
  }

  header .header_contents_container {
    justify-content: flex-end;
    flex: 0.7;
  }

  .header_contents_container .call {
    display: none;
  }

  .header_contents_container .mail {
    display: none;
  }

  .header_contents_container .menu {
    margin: 0 40px;
  }
}

@media (max-width: 960px) {
  .header_contents_container .menu .menu_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    right: 0;
    transition: 0.3s;
  }

  .header_contents_container .menu .sub_menu {
    top: 0;
    left: 90px;
  }
}

@media (max-width: 700px) {
  header .logo {
    flex: 1;
    text-align: center;
  }

  .header_contents_container .menu {
    margin: 0 20px 0 40px;
  }
}

.about_section {
  position: relative;
}

.about_section::before {
  content: "";
  width: 18.5%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #e31c25;
  z-index: -1;
}

.about_section .about_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about_section .about_container .about_img {
  width: 30%;
}

.about_section .about_container .about_img img {
  display: block;
  width: 100%;
}

.about_section .about_container .about_text {
  width: 50%;
  padding-bottom: 100px;
}

.about_section .about_container .about_text>h4 {
  color: #e31c25;
  padding-bottom: 30px;
}

.about_section .about_container .about_text>h2 {
  font-size: 36px;
  padding-bottom: 30px;
}

.about_section .about_container .about_text p {
  width: 100%;
  font-family: 'Jost', sans-serif;
  font-size: 17px;
  font-weight: bold;
}


.about_section .about_container .about_text .about_btn {
  width: 200px;
  height: 60px;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  text-align: center;
  line-height: 60px;
  border-radius: 50px;
  display: block;
  margin-top: 40px;
}

.about_section .about_container .about_text .about_btn:hover {
  color: #e31c25;
  background-color: transparent;
  border: 1px solid #000;
  transition: all 0.4s;
}

@media (max-width: 960px) {
  .about_section .about_container .about_img {
    width: 40%;
  }

  .about_section .about_container .about_img img {
    display: block;
    width: 100%;
  }
}

@media (max-width: 678px) {
  .about_section .about_container .about_text {
    width: 100%;
    text-align: center;
  }

  .about_section .about_container .about_img {
    display: none;
  }

  .about_section .about_container .about_text .about_btn {
    margin: 40px auto 0;
  }
}

.social_section {
  width: 100%;
  padding: 100px 0 150px 0;
  background-color: #e31c25;
  position: relative;
}

.social_section>.inner>span {
  font-size: 24vh;
  position: absolute;
  font-weight: 600;
  line-height: 1em;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0.1;
  color: #ffffff;
}

.social_section>.inner>h2 {
  display: flex;
  justify-content: center;
  font-size: 42px;
  color: #000;
  margin-bottom: 50px;
  font-family: 'Jost', sans-serif;
}

.social_section .social_container {
  display: flex;
  justify-content: space-evenly;
  height: 350px;
}

.social_section .social_container .social_box {
  position: relative;
  width: 250px;
  height: 314px;
}

.social_section .social_container .social_box:nth-of-type(2n) {
  align-self: end;
}

.social_section .social_container .social_box>a>img {
  width: 250px;
  display: block;
}

.social_section .social_container .social_box .social_btn {
  width: 250px;
  height: 50px;
  font-size: 22px;
  text-align: center;
  line-height: 50px;
  color: #e31c25;
  background-color: #171616;
  position: absolute;
  right: 0;
  padding-left: 10px;
}

.social_section .social_container .social_box .social_btn::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 1px;
  background: #e31c25;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.social_section .social_container .social_box .social_btn:hover {
  color: #fff;
  transition: all 0.6s;
}

@media (max-width: 1700px) {
  .social_section .social_container .social_box {
    position: relative;
    width: 200px;
  }

  .social_section .social_container .social_box>a>img {
    width: 100%;
    display: block;
  }

  .social_section .social_container .social_box .social_btn {
    width: 200px;
    bottom: top;
  }
}

@media (max-width: 1700px) {
  .social_section .social_container .social_box {
    position: relative;
    width: 170px;
  }

  .social_section .social_container .social_box .social_btn {
    width: 170px;
    bottom: top;
  }

  .social_section .social_container .social_box .social_btn::before {
    width: 25px;
    height: 1px;
  }
}

@media (max-width: 960px) {
  .social_section .social_container {
    flex-wrap: wrap;
    height: auto;
  }
}

@media (max-width: 900px) {
  .social_section>.inner>span {
    font-size: 18vh;
  }
}

@media (max-width: 770px) {
  .social_section>.inner>span {
    font-size: 16vh;
  }
}

@media (max-width: 710px) {
  .social_section>.inner>h2 {
    font-size: 36px;
  }

  .social_section>.inner>span {
    font-size: 14vh;
  }
}

@media (max-width: 610px) {
  .social_section>.inner>h2 {
    font-size: 32px;
  }

  .social_section>.inner>span {
    font-size: 13vh;
  }
}

@media (max-width: 510px) {
  .social_section>.inner>h2 {
    font-size: 28px;
  }

  .social_section>.inner>span {
    font-size: 10vh;
  }
}

footer {
  width: 100%;
  padding: 100px 0 0 0;
  background-color: #222222;
}

footer>.inner {
  width: 75%;
  margin: 0 auto;
}

footer .footer_contents {
  display: flex;
  justify-content: space-evenly;
}

footer .footer_contents .footer_title {
  color: #e31c25;
  font-size: 22px;
}

footer .footer_contents hr {
  width: 55px;
  border: 1px solid #e31c25;
  margin: 15px 0 30px 0;
}

footer .footer_contents .contact_container .contact_menu>li>h3 {
  color: #fff;
  font-weight: normal;
  margin: 10px 0;
}

footer .footer_contents .contact_container .contact_menu>li>p {
  color: #a6a6a693;
}

footer .footer_contents .explore_container {
  border-left: 1px solid #a6a6a670;
  padding-left: 30px;
}

footer .footer_contents .explore_container .footer_menu {
  display: flex;
}

footer .footer_contents .explore_container .footer_menu li {
  width: 170px;
  height: 40px;
}

footer .footer_contents .explore_container .footer_menu li a {
  color: #a6a6a6;
}

footer .footer_contents .explore_container .footer_menu li a:hover {
  color: #e31c25;
  transition: all 0.6s;
}

footer .footer_contents .email_container {
  border-left: 1px solid #a6a6a670;
  padding-left: 30px;
}

footer .footer_contents .email_container>.footer_title {
  font-size: 22px;
}

footer .footer_contents .email_container form input {
  width: 100%;
  height: 50px;
  padding-left: 10%;
  text-align: left;
  border: none;
  border-radius: 10px;
  background-color: #ccc;
}

footer .footer_contents .email_container form .email_btn {
  width: 100%;
  height: 50px;
  text-align: left;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #e31c25;
  text-align: center;
  margin-top: 15px;
}

footer .footer_copy {
  height: 50px;
  line-height: 49px;
  border-top: 1px solid #a6a6a665;
  margin-top: 50px;
  color: #a6a6a6;
  text-align: center;
}

footer .footer_copy>p>span {
  color: #76908E;
}

@media (max-width: 1200px) {
  footer .footer_contents {
    justify-content: center;
    flex-wrap: wrap;
  }

  footer .footer_contents .contact_container {
    width: 350px;
    margin-bottom: 20px;
  }

  footer .footer_contents .explore_container {
    width: 350px;
    border-left: none;
    padding-left: 0;
    margin-bottom: 20px;
  }

  footer .footer_contents .email_container {
    width: 350px;
    border-left: none;
    padding-left: 0;
  }
}